<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Search</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-grid.css" rel="stylesheet"/>
    <link href="/css/bootstrap-reboot.css" rel="stylesheet"/>

    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/ajaxload.js" type="text/javascript"></script>
</head>
<body>

    <span th:fragment="no-data" th:if="${#arrays.isEmpty(items)}">No data</span>
    <div th:fragment="table-result" th:if="${not #arrays.isEmpty(items)}">
        <div style="margin-left: auto; margin-right: auto">
            <span style="margin-right: 10px" class="text-info">Row this color have the answer</span>
            <span class="text-danger">Row this color doesn't have the answer</span>
        </div>
        <table style="text-align: center; vertical-align: middle" class="table table-bordered">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date</th>
                <th>Link to original page</th>
            </tr>
            <!--May be this need use answer count for set the colours-->
            <tr th:each="item : ${items}"
                th:classappend="${item.isAnswered} ? 'table-success' : 'table-danger'">
                <td th:text="${item.title}"></td>
                <td th:text="${item.owner.displayName}"></td>
                <td th:text="${#dates.format(new java.util.Date(item.creationDate * 1000), 'dd.MM.yyyy')}"></td>
                <td><a th:href="${item.link}">link</a></td>
            </tr>
        </table>
    </div>

</body>
</html>